/* Font style for the page */ 
body {
    font-family: Arial, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    
}

/* Below is the foramt for the top of the page */
.header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #001a4d;
}

h1 {
    font-size: 17px;
}

ul {
    list-style: none;
    display: flex;
    gap: 3px;
}

a {
    text-decoration: none;
}

/* Sign up section of the page */
.sign-up {
    display: flex;
    justify-content: space-between;
}
.sign-up img {
    width: 200px;
}

/* mid-one section of the page */
.mid-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid-one .bottom {
    color: blue;
    display: flex;
}

.mid-one .bottom img {
    width: 40px;
}

/* Style for mid-two section */

.mid-two { 
    color: green;
}

.mid-two .author {
    display: flex;
    justify-content: flex-end;
}

