/* Font style for the page */ 
body {
    font-family: Arial, sans-serif;
    margin-left: 80px;
    margin-right: 80px;
}

/* Below is the foramt for the top of the page */
.header {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 17px;
}

ul {
    list-style: none;
    display: flex;
    gap: 3px;
}

a {
    text-decoration: none;
}

/* Sign up section of the page */
.sign-up {
    display: flex;
    justify-content: space-between;
}
.sign-up img {
    width: 200px;
}

/* mid-one section of the page */
.mid-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mid-one .bottom {
    color: blue;
    display: flex;
}

.mid-one .bottom img {
    width: 40px;
}
 