/* Font style for the page */ 
body {
    font-family: Arial, sans-serif;
}

/* Below the foramtting for the top of the page */
.top {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 17px;
}

ul {
    list-style: none;
    display: flex;
    gap: 3px;
}

a {
    text-decoration: none;
}