/* Font style for the page */ 
body {
    font-family: Arial, sans-serif;
    margin-right: 40px;
    margin-left: 40px;
}

/* Below is the foramt for the top of the page */
.top {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 17px;
}

ul {
    list-style: none;
    display: flex;
    gap: 3px;
}

a {
    text-decoration: none;
}

/* Sign up section of the page */
.sign-up {
    display: flex;
    justify-content: space-between;
}
.sign-up img {
    width: 200px;
}