/* Font style for the page */ 
body {
    font-family: Arial, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Below is the foramt for the top of the page */
.header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #1C2430;
}

h1 {
    font-size: 17px;
}

ul {
    list-style: none;
    display: flex;
    gap: 3px;
}

a {
    text-decoration: none;
    color: white;
}

/* Sign up section of the page */
.sign-up {
    display: flex;
    justify-content: space-between;
    background-color:#1C2430; 
    padding-bottom: 25px;
}
.sign-up img {
    width: 200px;
}

.left div {
    color: white;
}

/* mid-one section of the page */
.mid-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid-one .bottom {
    display: flex;
}

.mid-one .bottom img {
    width: 60px;
    border: 2px solid #1a75ff;
    border-radius: 7px;
}

.container {
    margin: 3px;
}

/* Style for mid-two section */

.mid-two { 
    padding: 30px;
    background-color: #E5E7EB;
}

.mid-two .author {
    display: flex;
    justify-content: flex-end;
}

/* Centering page */

.header, .mid-one, .mid-two, .sign-up, .sign-up-two {
    padding-left: 80px;
    padding-right: 80px;
}

/* footer */

.sign-up-two {
    flex: 1;/* This is pushes the footer to the bottom since direct child of body it already a flex box*/
    margin-top: 10px;
}

.box { 
    background-color: #3B82F6;
    border-radius: 10px;
    padding: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1C2430;
    color: white;
}

